name: Continuous integration and continuous deployment

on:
  push:
    branches:
      - main
    paths-ignore:
      - "Readme.md"
      - "k8s/**"
  pull_request:
    branches:
      - main

jobs:
  unit-testing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run unit tests
        run: npm test || echo "The repo does not have unit tests"

  static-code-analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        run: npm run lint
  build:
  name: Build
  runs-on: ubuntu-latest
  needs: [unit-testing, static-code-analysis]
  steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Setup node
      uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: npm
    - name: Install dependencies
      run: npm ci
    - name: build
      run: npm run build
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: build-artifacts
        path: dist/
  docker:
   name: Build and push docker image
   runs-on: ubuntu-latest
   needs: [build]
   env: 
     REGISTRY: ghcr.io
     IMAGE_NAME: ${{ github.repository }}
   outputs:
     image: ${{ steps.set_output.outputs.image_tag }}
   steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Download build artifacts
        uses: actions/build-artifact@v2
        with:
          name: build-artifacts
          path: dist/
      - name: buildx setup
        uses: docker/setup-buildx-action@v2
      - name: Login to Github container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.TOKEN }}
      - name: Extract meta data from docker
        id: meta
        uses: docker/metadata-action@v5
        with: 
          images: ${{env.REGISTRY}}/{{env.IMAGE_NAME}}
          tags: |
            type=sha,prefix=sha-
            type=ref,ref=main,prefix=latest-
            type=ref,ref=tags,prefix=
      - name: Build docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          load: true
      - name: Run trivy scan
        uses: aquasecurity/trivy-action@v1
        with:
          image-ref: ${{env.REGISTRY}}/${{env.IMAGE_NAME}}:sha-${{ github.sha }}
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
      - name: Push docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
  update-k8s-deployment:
    name: Update k8s deployment
    runs-on: ubuntu-latest
    needs: [docker]
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup git config
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
      - name: Update k8s deployment file
        env: 
          IMAGE_TAG: sha-${{ github.sha }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          REGISTRY: ghcr.io
        run: |
         NEW_IMAGE="${REGISTRY}/${GITHUB_REPOSITORY}:${IMAGE_TAG}"
         #Update deployment file directly
          sed -i "s|image: .*|image: ${NEW_IMAGE}|g" k8s/deployment.yaml
          #verify the changes
          echo "Updated the deployment file with a new image ${NEW_IMAGE}"
          grep -A 1 "image:" k8s/deployment.yaml
      - name: Commit and push changes
        run: |
          git add k8s/deployment.yaml
          git commit -m "Update k8s deployment image to ${IMAGE_TAG}"
          git push origin main
